{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">                      
                       <div class="col-md-4 col-sm-4 col-xs-4"> 
                           <span href="/profile" class="btn" style="display:block">Profile</span>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-4">
                           <a href="/newpost" class="btn" style="display:block">New Post</a>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-4">
                           <a href="/blog" class="btn" style="display:block">Blog</a>
                       </div>
                  
                  
               </div>
	{% for b in blog %}

            <div class="row">             
                <div class="col-md-2">                
            </div>

     
           <div class="col-md-8">
               <div class="blog">
                <div class='blog-heading'>
                    <div class="blog-subject">
                        {{b.subject}}
                    </div>
                     
                        <div class="blog-time">
                        {{b.created.strftime("%b %d %Y")}}
                    </div>
                   </div>
                   
                   <div class = "blog-body">
                    <pre>
                           {{b.content | safe}}
                    </pre>
                   </div>
                   
               </div>
           </div>
           <div class="col-md-2">
                
           </div>
           <div class="row">
               <div class="col-md-10"></div>
                <div class="col-md-4 col-md-offset-2">
                  <div class='row'>
                    <form method = 'post'>
                        <input type="text" hidden='true' name='post_id' value={{b.key().id()}}>
                        <input type="submit" class ="btn btn-primary" value='edit'>
                    </form>
                     <form method = 'post'>
                        <input type="text" hidden='true' name='post_id_delete' value={{b.key().id()}}>
                        <input type="submit" class ="btn btn-danger" value='delete'>
                    </form>
                  </div>
                </div>
           </div>
       </div>
   </div>

   

    
   
    {% endfor %}
{% endblock %}
